
package pages

import "music/views/layouts"

templ AboutPage(currentPath string) {
	@layouts.BaseLayout("About - MyApp", currentPath) {
		<div class="page-header">
			<h1>Welcome to About</h1>
			<p class="page-subtitle">Your Go web application with Templ</p>
		</div>
	}
}
